body{ 
font-family: "Roboto", sans-serif;
color: #434455;
}
:root {background-color:#FFFFFF;
}
.button{ 
background-color:var(--color-main);
font-family: inherit;
cursor: pointer;
}
.button:hover,
.button:focus{ 
background-color:  var(--IRIS, #4D5AE5);}
/* logo */
.logo{
font-family: "Raleway", sans-serif;
color: var(--IRIS, #4D5AE5);
font-size: 18px;
line-height:1.17 ;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
}
.logo-header{
font-family: "Raleway", sans-serif;
color: var(--NAVY-BLUE, #2E2F42);
font-size: 18px;
text-decoration: none;
line-height:1.17 ;
font-weight: 800;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.social-links{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42 ;
text-decoration:none ;
}
.social-links .link:hover{color: #404bbf }
.social-links .link:focus{color: #404bbf }
.social-links .link:active { 
color:var(--IRIS, #4D5AE5);
}
.address{
font-style: norma
}
.list-link-address{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42 ;
  text-decoration:none ;
}
.list-link-address .link:hover{ color: #404bbf;}
.link:focus{ color: #404bbf;}



.my-text{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
    
.text{
color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5 ;
letter-spacing: 0.32px;
}
.entry{
color: var(--WHITE, #000000);
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1; 
letter-spacing: 1.12px;
}
.text-entry{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.footer{
  background-color: #2e2f42;
}
.logo-footer{
  color: #f4f4fd;
}
.text-footer{
  color: var(--CLOUD, #F4F4FD);
}
a{text-decoration: none
}
.list{
  text-decoration: none
}