body{ 
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
:root {--brand-color:#3f51b5;--size: ;}

.button{ 
  background:var(--IRIS, #4D5AE5);
  color: var(--WHITE, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
font-family: inherit;
cursor: pointer;
}
.button:hover,
.button:focus{ 
  background: var(--OCEAN, #404BBF);}
/* logo */
.logo{
font-family: "Raleway", sans-serif;
color: var(--IRIS, #4D5AE5);
font-size: 18px;
line-height:1.17 ;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
}
.logo-header{
font-family: "Raleway", sans-serif;
color: var(--NAVY-BLUE, #2E2F42);
font-size: 18px;
text-decoration: none;
line-height:1.17 ;
font-weight: 800;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-header a{color: #000;text-decoration: none;}

.address{ font-style: normal;
}
.list-link-address{
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

}
.list-link-address .link:hover,
.link:focus{ color: #404bbf;}

.list{
  list-style: none;
}

.link{color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
 }
.my-text{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
    
.text{
color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em
}
.entry{
  color: var(--WHITE, #FFF);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  background: var(--NAVY-BLUE, #2E2F42);
}
.text-entry{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11 ;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
}

/* footer */
.logo-footer{
  color: #f4f4fd;
}
.text-footer{
  color: var(--CLOUD, #F4F4FD);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.footer{
  background-color: #2e2f42;
}

.list-entry{
  background: var(--NAVY-BLUE, #2E2F42);
}
.img-list{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.img-cards{
  background: var(--CLOUD, #F4F4FD);

}
.img-cards-entry{
  background: var(--WHITE, #FFF);
}
.logo a{text-decoration: none;
}