body{ 
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF ;
}
:root {
  background:var(--IRIS,#4D5AE5);
  color: white;
}

/* logo */
.logo{
font-family: "Raleway", sans-serif;
color: var(--IRIS, #4D5AE5);
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
}
 .logo-header{
font-family: "Raleway", sans-serif;
color: var(--NAVY-BLUE, #2E2F42);
font-size: 18px;
text-decoration: none;
line-height: 1.17;
font-weight: 800;
letter-spacing: 0.54px;
text-transform: uppercase;
}
/* nav */
.social-links{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42 ;
  text-decoration:none ;
  }
  .social-links .link:hover,
  .social-links .link:focus{color: #404bbf }
  .social-links .link:active { 
  color:var(--IRIS, #4D5AE5);}
  .address{
    font-style: norma
    }
    .list-link-address{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color:#2e2f42 ;
      text-decoration:none ;
    }
    .list-link-address .link:hover,
    .link:focus { color: #404bbf;}

.filter-button{
background-color: var(--color-main);
font-family:inherit;
cursor: pointer;
}
.filter-button:hover
{
background-color: var(--OCEAN, #404BBF); 

}
.filter-button:focus{background-color:  var(--light, #F4F4FD);
    text-align: center;}
.stails{ 
background: var(--light, #F4F4FD);
display: inline-flex;
}
/* my text */
.my-text{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.text{
color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5 ;
letter-spacing: 0.32px;
}
.logo-footer{
  color: #f4f4fd;
}
.text-footer{
  color: var(--CLOUD, #F4F4FD);
}
.footer{
  background-color: #2e2f42;
}

a{text-decoration: none
}
.list{
  text-decoration: none
}