body{ 
font-family: "Roboto", sans-serif;
}
.filters-list{
color: var(--color-accent);
}
/* logo */
.logo{
color: var(--IRIS, #4D5AE5);
font-size: 18px;
line-height: 21px;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
}
 .logo-header{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 18px;
text-decoration: none;
line-height: 21px;
font-weight: 800;
letter-spacing: 0.54px;
text-transform: uppercase;
}
/* nav */
.social-links{
color: var(--NAVY-BLUE, #2E2F42);
}
.social-links .link {
color: black;
}
.social-links .link:hover,
.social-links .link:focus,
.social-links .link:active { 
color:var(--IRIS, #4D5AE5);
}

.list-link-address{
  color: var(--Dark, #434455);
}
.link{
  color: var(--Dark, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.link:hover,
.link:focus{
color:var(--IRIS, #4D5AE5);
}
.link:active{color:  var(--light, #F4F4FD);}
.filter-button{
background-color: var(--color-main);
font-family:inherit;
cursor: pointer;
}
.filter-button:hover
{
background-color: var(--OCEAN, #404BBF); 

}
.filter-button:focus{background-color:  var(--light, #F4F4FD);
    text-align: center;}
.stails{ 
background: var(--light, #F4F4FD);
display: inline-flex;
}
/* my text */
.my-text{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.text{
color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5 ;
letter-spacing: 0.32px;
}