body{ 
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF ;
}
html :root {--brand-color:#3f51b5;}
 
/* logo */
.logo-link{
  color: var(--IRIS, #4D5AE5);
font-size: 18px;
font-style: normal;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
font-weight: 800 ;
letter-spacing: 0.03em ;
font-family: 'Raleway', sans-serif

}
 .logo-span{
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
line-height: 1.17;
font-weight: 800;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-span .link,
.logo-link .link{ text-decoration: none;list-style: none;  }
 .link{
  text-decoration: none ;
}
.list{list-style: none; }
/* nav */

.social-links{
  color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-style: normal;
font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration:none ;
  }
  .social-links .link:hover,
  .social-links .link:focus{color: #404bbf }
  .address{font-style: normal;
    }
    .address-links .list{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color:var(#434455);
      text-decoration:none ;
      
    }
    .list-link-address .link:hover{color: #404bbf}
    .link:focus { color: #404bbf;}
    
    /* pszytisk */
.filter-button{ font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: var(--IRIS, #4D5AE5);
      background-color:#F4F4FD ;
      font-family:inherit;font-size: 16px; letter-spacing: 0.04em;
      cursor: pointer;

}
.filter-button:hover{
color: #FFFFFF;
background-color: #404BBF;

}
.filter-button:focus{ color: #FFFFFF;background-color: #404BBF
}
/* my text */

.my-text{
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.text{
color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5 ;
letter-spacing: 0.02em;
text-decoration: none;
}

/* footer */
.logo{
 font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17 ;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-footer{
  color: #f4f4fd;
}
.text-footer{
  color: var(--CLOUD, #F4F4FD);
}
.footer{
background-color: #2e2f42;
}
.logo .link{
  text-decoration: none;
}
